<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
 <link rel='stylesheet' href='/stylesheets/style.css' />

 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
 <script type="text/javascript" src="/socket.io/socket.io.js"></script>
 <script>
 $(function(){
 var socket = null;
 var room2 = null;

 $("#connectButton").click(function(event){
 socket = new io.connect("/");
 room2 = new io.connect("/room2");

 room2.on("connect", function(){
 $("#transportName").text("connect via " + room2.socket.transport.name);// 接続時に接続方式表示
 });

 socket.on("server send", function(message){
 $("<p>"+message+"</p>").replaceAll("#statusArea p");// 受信メッセージをレンダリング
 });

 room2.on("server send", function(message){
 $("<li>").text(message).prependTo($("#messageArea ul"));// 受信メッセージをレンダリング
 });

 $("#submitButton").click(function(event){
 room2.emit("client send", {message: $("#msg").val()});// 入力メッセージをサーバへ
 });
 });
 });
 </script>
 </head>
 <body>
 <div id="transportName"></div>
 <input id="connectButton" type="button" value="connect"><p/>
 <input id="msg">
 <input id="submitButton" type="button" value="submit!">
 <div id="statusArea">
  <p></p>
 </div>
 <div id="messageArea">
 <ul></ul>
 </div>
 </body>
</html>
